<div class="game">
    <% if game.p2 == nil %>
        <%= link_to "Join Game", "/"+game.idhash+"/join" %>
    <% else %>
        Turn: <%= game.move_number %>,
        <% if game.moves.last != nil && game.moves.last.player == game.p1 %>
            Black to move.
        <% else %>
            White to move.
        <% end %>
    <%= link_to "View Game", "/"+game.idhash %>
    <% end %>
</div>